* {
  margin: 0;
  padding: 0;
  box-sizing: 0; }

body {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../assets/img/wallpaper.jpg"); }

.adidas {
  color: blue; }

.nike {
  color: red; }

.saucony {
  color: green; }

header .barraBS {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  z-index: 1000; }
  header .barraBS .logoBS {
    align-self: center;
    width: 160px; }
    header .barraBS .logoBS img {
      width: 100%; }
  header .barraBS .navBarBS {
    justify-self: flex-start;
    padding-left: 10%; }
    header .barraBS .navBarBS div .listBS {
      font-size: 2rem; }
      header .barraBS .navBarBS div .listBS a {
        color: black; }

h1, .copySub {
  font-size: 2.75rem;
  text-align: center;
  padding: 20px 0px; }

.focus-in-contract-bck {
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.copySub {
  font-size: 1.5rem;
  padding: 0px 5% 20px 5%; }

.marca {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 15% 20px 15%; }
  .marca div {
    padding: 0px 15%; }
    .marca div img {
      width: 100%;
      border: 2px solid black; }
  .marca article img {
    width: 50%;
    padding: 0px 25%; }
  .marca article h2 {
    text-align: center;
    font-size: 1.5rem; }
  .marca article p {
    width: 100%;
    padding: 0px 5% 10px 5%;
    text-align: center; }

.tecnologias {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 20px 0; }
  .tecnologias p {
    width: 80%;
    padding-bottom: 20px;
    align-self: center;
    text-align: justify; }
  .tecnologias h2 {
    padding-left: 5%;
    font-size: 1.5rem; }
  .tecnologias img {
    height: 160px;
    padding-bottom: 20px;
    align-self: center; }

.formulario p {
  text-align: center; }

footer {
  width: 90%;
  padding: 0px 10px 5% 5%; }
  footer ul {
    list-style: none; }
    footer ul a {
      color: black; }
  footer .redes {
    display: flex;
    flex-direction: row; }
    footer .redes li {
      padding-right: 5px; }
      footer .redes li img {
        width: 20px;
        height: 20px; }

@media (min-width: 768px) {
  header .barraBS {
    display: grid;
    width: 100%;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 1fr; }
    header .barraBS .logoBS {
      grid-column: 1/2;
      grid-row: 1/2;
      order: 1;
      width: 180px; }
      header .barraBS .logoBS img {
        width: 100%;
        height: 100%;
        padding-left: 10%; }
    header .barraBS .navBarBS {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: center;
      justify-self: center;
      padding: 0; }
      header .barraBS .navBarBS div .listBS {
        font-size: 2.5rem;
        justify-content: center;
        gap: 6%; }
  h1, .copySub {
    font-size: 4rem;
    padding: 50px 0px; }
  .copySub {
    font-size: 3rem;
    padding: 0px 5% 50px 5%; }
  .marca {
    display: grid;
    width: 100%;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 1fr;
    padding: 0;
    padding-bottom: 50px; }
    .marca div {
      grid-column: 2/3;
      align-self: center;
      padding: 0; }
      .marca div img {
        border: 3px solid black; }
    .marca article {
      grid-column: 3/4;
      width: 80%;
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: column; }
      .marca article img {
        width: 50%;
        height: 50%;
        align-self: center;
        justify-self: center; }
      .marca article h2 {
        align-self: center;
        font-size: 3rem; }
  .tecnologias {
    padding-bottom: 30px; }
    .tecnologias h2 {
      padding-left: 20%;
      font-size: 2rem; }
    .tecnologias p {
      width: 50%;
      padding-bottom: 30px; }
    .tecnologias img {
      height: 240px;
      padding-bottom: 30px; }
  p {
    font-size: 1.25rem; }
  footer {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-bottom: 25px;
    font-size: 1.25rem; }
    footer ul {
      padding-left: 30px; }
    footer .redes {
      padding-right: 30px; }
      footer .redes li {
        padding-right: 0px;
        padding-left: 15px; }
        footer .redes li img {
          width: 40px;
          height: 40px; } }

@media (min-width: 1440px) {
  header .barraBS .navBarBS {
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    padding: 0; }
    header .barraBS .navBarBS div .listBS {
      gap: 20%; }
      header .barraBS .navBarBS div .listBS li a:hover {
        text-decoration: underline; }
  h1, .copySub {
    font-size: 5rem; }
  .copySub {
    font-size: 3.5rem; }
  .cuerpoPrincipal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .marca {
    width: 30%;
    display: flex;
    flex-direction: column; }
    .marca div img {
      position: relative;
      z-index: 1;
      filter: grayscale(1); }
      .marca div img:hover {
        filter: none; }
  .tecnologias h2 {
    font-size: 2.5rem; }
  .tecnologias img {
    height: 400px; }
  p {
    font-size: 1.5rem; }
  footer {
    font-size: 1.5rem; } }
