header{
    .barraBS{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        top: 0;
        z-index: 1000;
        .logoBS {
            align-self: center;
            width: 160px;
            img {
                width: 100%;
            }
        }
        .navBarBS{
            justify-self: flex-start;
            padding-left: 10%;
            div{
                .listBS{
                    font-size: 2rem;
                    a{
                        color: black;
                    }
                }
            }
        }
    }
}