header{
        .barraBS{
            .navBarBS{
                grid-column: 1/3;
                grid-row: 1/2;
                align-self: center;
                justify-self: center;
                padding: 0;
                div{
                    .listBS{
                        gap: 20%;
                        li{
                            a{
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
            }
        }
    }
}